extends layout

block content
  h1= title
  p Welcome to sing up page
  form(method="post" name="insertname" action="users/register")
    label username
    br
    input(name="username" type="text")
    br
    label email
      br
      input(name="email" type="email")
      br
    label password
      br
      input(name="password" type="password")
      br
      br
    label dollars balance
      br
      input(name="balance" type="number")
      br
      br
    label bitcoin balance
      br
      input(name="bitcoin" type="number")
      br
      br
    label ethereum balance
      br
      input(name="ethereum" type="number")
      br
      br

    button(id="bu" type='submit') sing up