/*===========================
  theme: Green Fun
============================ */

/* Green */


a ,
.glyphicon,
.navbar-brand span,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active ,
.navbar-custom .nav > .active > a ,
.navbar-brand:hover,
.navbar-brand:focus ,
#gallery .nav > li > a:hover ,
.light-btn .btn:before,
.light-btn .btn:hover,
.light-btn .btn:focus,
.team span ,
#offers span{color:#567E32;}



.spinner > div ,
.top-bar ,
.navbar-toggle ,
.nav-pills>li>a:hover ,
#stats ,
#testimonials ,
#call-to-action,
#offers,
footer ,
.btn:before ,
.social-media a:hover ,
.pricing-tables .pricing-table.highlight-plan .plan-name {background-color: #567E32;}


/* Ligt Green */


a:hover,
a:focus ,
hr ,
.hr ,
.navbar-custom .nav li a:focus,
.slider-pagi__elem ,
.box > .icon > .image,
#gallery .nav > li > a:focus {color: #31B767;}


.hr:before ,
ul.social-list li a:hover ,
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus ,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus ,
.nav-pills .nav > li > a:hover ,
.btn-default ,
.btn-default:hover ,
.btn-default:focus ,
.box > .icon:hover > .image,
.gallery-thumb .overlay-mask,
.owl-prev:hover, .owl-next:hover ,
.back-to-top i:hover {background-color:#31B767;}

#contact .form-control:focus {box-shadow:#31B767;}

.nav-pills> li.active:after {border-top-color: #31B767;}

