.registerDiv {
    width: 45%;
    margin-left: 35%;
    border: 2px solid gainsboro;
    padding: 50px;
    margin-top: 15%;
    box-shadow: 10px 10px #bee0ff;
    button {
        margin-top: 2%;
        float: right;
    }
}