#about {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #EEEEEE;
    img {
        // width: 40%;
        margin-top: 10%;
        margin-left: 3%;
        
    }
    div {
        h4 {
            // font-family: 'gly';
            font-family: sans-serif;
        }
        p {
            // font-family: 'gly';
            font-family: sans-serif;
            font-size: 18px; 
        }
    }
}