#contact {
    overflow-x:hidden;
    background: #D35400;
    color: #fff;
    div:nth-child(1) > div:nth-child(2) > div.col-md-5.col-sm-12 > div > div > i {
        padding-right: 10px;
    }
    &:before {
            content: '';
            background-image: url("../assets/img/cartoonbones1.png");
            height: 570px;
            width: 100%;
            z-index: 0;
            position: absolute;
        }
    h4 {
        text-align: center;
        font-family: 'gly';
    }
    .hotelInfo {
        a {
            color: rgb(53, 128, 120);
        }
        h4 {
            font-family: 'gly';
        }
        p {
            font-family: 'gly';
        }
        .openHours {
            width: 60%;
        }
    }
    .contactForm{
        // display: block;
        button {
            margin-top: 50%;
            margin-left: -15%;
        }
        
    }
    .map {
        img {
            margin-left: -30px;
        }
    }
    .socialI {
        display: inline-flex;
        padding-top: 1%;
            li {
                img {
                    width:40px;
                    padding-right: 10px;
                }
            }
    }
    #copyright {
        color: black;
        padding-top: 1%;
        font-family: 'gly'; 
    }
}